// Variables
$body-bg: #f4f5f6;
$body-color: #111;
$secondary: #f4f5f6;
$primary: #f72210;

// Custom.scss
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
$roboto-font: 'Roboto Condensed', sans-serif;
@mixin h2-style {
  font-family: $roboto-font;
  line-height: 16px;
  font-size: 32px;
  letter-spacing: normal;
  color: #030303;
}

// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/grid";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.main {
  overflow-x: hidden;
  max-width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
}


