// global resets
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 62.5%;
	width: 100%;
}

body {
	overflow-x: hidden;
}

// Variables
$body-bg: #f4f5f6;
$body-color: #111;
$secondary: #f4f5f6;
$primary: #f72210;

// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/grid";

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

// Custom
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
$roboto-font: "Roboto Condensed", sans-serif;
$bg-color: #fff;

@mixin h2-style {
	font-family: $roboto-font;
	line-height: 1.6rem;
	font-weight: bold;
	font-size: 2.4rem;
	letter-spacing: normal;
	color: #7e7d7d;
	margin: 1rem 0;
}

@mixin h3-style {
	color: $primary;
	background-color: #e8e6e6;
	max-width: 12rem;
	padding: 1rem;
  font-weight: bolder;
  z-index: 2;
  position: relative;
  top: -4rem;
  text-align: center;
}

@mixin h4-style {
	color: #000;
	font-size: 2.2rem;
  font-weight: bolder;
}

@mixin paragraph {
	color: rgb(95, 93, 93);
	font-size: 1.2rem;
  font-weight: lighter;
}

.main {
	overflow-x: hidden;
	max-width: 100%;
	font-size: 1.6rem;
	padding: 1rem;
}

.d-block {
	display: block;
}

.d-grid {
	display: grid;
}

.scrollable {
	.featured-story,
	.top-story {
		background-color: $bg-color;
		padding: 1rem;
		margin: 1rem 0;
		.top-story-h2 {
			@include h2-style();
		}
		.caption {
			@include h3-style();
		}
		h4 {
			@include h4-style();
		}
		.paragraph {
			@include paragraph();
		}
		.top-story-sub header {
			padding: 0.5rem;
			img {
				width: 100%;
				height: auto;
			}
			h5 {
				font-size: 1.6rem;
				font-weight: bold;
			}
		}
	}
	.debate {
		margin: 1rem 0;
		background-color: $bg-color;
		padding: 1rem;
		header {
			h4 {
				font-weight: bold;
				font-size: 1.6rem;
			}
		}
		.verses {
			color: $body-bg;
			font-size: 2rem;
			font-weight: bold;
			text-align: center;
			background-color: $body-color;
			width: 5rem;
			padding: 1rem;
			border-radius: 100%;
			position: relative;
			top: -3.5rem;
			left: 16rem;
		}
		.content-1 {
			header {
				position: relative;
				left: 4rem;
			}
		}
		.content-2 {
			position: relative;
			top: -3rem;
		}
	}
	.opinion {
		margin: 1rem 0;
		background-color: $bg-color;
		padding: 1rem;
		header {
			margin-left: 2rem;
			h4 {
				font-weight: bold;
				font-size: 1.6rem;
			}
		}
	}

	.more {
		margin: 1rem 0;
		background-color: $bg-color;
		padding: 1rem;
		.content {
			grid-template-columns: 30% 70%;
		}
		header {
			margin-left: 1rem;
			h4 {
				font-weight: bold;
				font-size: 1.6rem;
			}
			p {
				@include paragraph();
			}
		}
	}
}
